
$color-primary: #bada55;
$color-primary-highlight: lighten ($color-primary , 15%);
$color-primary-shadow: darken( $color-primary , 15%);


$color-white: #fff2f5;
$color-black: #001014;
$color-black-50: rgba($color-black , 5);

$color-link: $color-primary;
$color-link-hover:$color-primary-shadow;

$color-text:$color-white;

