
$ff-heading: "Source Sans Pro" , sans-serif;
$ff-normal: "Source Sans Pro" , sans-serif;

$fz-text-normal : rem;

$lh-thin: 1.1;
$lh-large:1.5;

$fw-light:300;
$fw-regular:400;
$fw-semibold:500;
$fw-bold:700;
